@font-face {
  font-family: "Phonepe";
  src: url("./assets/Sans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0D0D0D;
  font-family: "Phonepe";
  color: #dedede;
}
